.ex-1-square {
  transition: background-color 2s;
}
.ex-1-square:hover {
  background-color: red;
}
.ex-2-square {
  transition: width 1.5s;
}
.ex-2-square:active {
  width: 250px;
  height: 100px;
}
.ex-3-square {
  transition: 2s;
  transition-timing-function: linear;
}
.ex-3-square:hover {
  border-radius: 50%;
}
.ex-4-square {
  transition-duration: 1.2s;
  transition-delay: 0.1s;
}
.ex-4-square:hover {
  opacity: 0;
  /* soluzione nr°2 */
  /* background-color: inherit;
  border-color: inherit; */
}
.ex-5-square {
  transition: 2s;
}
.ex-5-square:hover {
  width: 120px;
  height: 120px;
}
.ex-5-square:active {
  width: 30px;
  height: 30px;
  background-color: cadetblue;
}
.ex-6-img:hover {
  filter: grayscale(90%);
}
.ex-7-img {
  transition: filter 2s;
}
.ex-7-img:hover {
  filter: grayscale(80%) brightness(10%);
}
.ex-8-img {
  transition: filter 2s;
}
.ex-8-img:hover {
  filter: grayscale(80%) brightness(20%);
  border-radius: 40px;
}
.ex-9-img {
  transition: filter 3s, border 3s, transform 3s;
}
.ex-9-img:hover {
  filter: contrast(70%) brightness(80%);
  border-radius: 40px;
  transform: scale(1.3);
}
.ex-10-icon {
  animation: GiroGiroTondo 5s linear infinite;
}
@keyframes GiroGiroTondo {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.ex-11-icon:hover {
  animation: AvantiIndietro 5s linear;
}
@keyframes AvantiIndietro {
  0% { transform: rotate(0); }
  10% { transform: rotate(27deg); }
  20% { transform: rotate(54deg); }
  30% { transform: rotate(81deg); }
  40% { transform: rotate(108deg); }
  50% { transform: rotate(135deg); }
  60% { transform: rotate(162deg); }
  70% { transform: rotate(189deg); }
  80% { transform: rotate(216deg); }
  90% { transform: rotate(270deg); }
  100% { transform: rotate(0deg); }
}
.ex-12-button:hover .ex-12-top-white{
  animation: Mooove 5s linear;
}
@keyframes Mooove {
  0% { left: 10%-60px; }
  50% { left: 50%; }
  80% { left: 67%; }
  100% { left: 10%-60px; }
}
.ex-12-button:hover .ex-12-bottom-white{
  animation: Mooove_bottom 5s linear;
}
@keyframes Mooove_bottom {
  0% { right: 10%-60px; }
  50% { right: 50%; }
  80% { right: 67%; }
  100% { right: 10%-60px; }
}
.ex-13-button:hover .ex-13-top-white {
  animation: btn_top 5s linear infinite;
}
@keyframes btn_top {
  0% {
   left: 10%-60px;
   top: 0%;
  }
  50% { left: 67%; }
  80% { left: 80%; }
  100% { left:100% ; }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: btn_bottom 5s linear infinite;
}
@keyframes btn_bottom {
  0% { right: 10%-60px; }
  50% { right: 50%; }
  80% { right: 67%; }
  100% { right: 10%-60px; }
}
